<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :abstract %><br />
    <%= f.text_field :abstract %>
  </div>
  <div class="field">
    <%= f.label :activity_id %><br />
    <%= f.number_field :activity_id %>
  </div>
  <div class="field">
    <%= f.label :sizex %><br />
    <%= f.text_field :sizex %>
  </div>
  <div class="field">
    <%= f.label :sizey %><br />
    <%= f.text_field :sizey %>
  </div>
  <div class="field">
    <%= f.label :technology_id %><br />
    <%= f.number_field :technology_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :qlevel %><br />
    <%= f.text_field :qlevel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
