<%= form_for(@milestone) do |f| %>
  <% if @milestone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

      <ul>
      <% @milestone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :activity_id %><br />
    <%= f.number_field :activity_id %>
  </div>
  <div class="field">
    <%= f.label :ccn_id %><br />
    <%= f.number_field :ccn_id %>
  </div>
  <div class="field">
    <%= f.label :achieved %><br />
    <%= f.check_box :achieved %>
  </div>
  <div class="field">
    <%= f.label :stamp_id %><br />
    <%= f.number_field :stamp_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
