<h1>Listing milestones</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Phase</th>
    <th>Ccn</th>
    <th>Achieved</th>
    <th>Stamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @milestones.each do |milestone| %>
  <tr>
    <td><%= milestone.title %></td>
    <td><%= milestone.phase_id %></td>
    <td><%= milestone.achieved %></td>
    <td><%= link_to 'Show', milestone %></td>
    <td><%= link_to 'Edit', edit_milestone_path(milestone) %></td>
    <td><%= link_to 'Destroy', milestone, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Milestone', new_milestone_path %>
