<h1>Listing meetings</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Venue</th>
    <th>Stamp</th>
    <th>Number</th>
    <th>Activity</th>
    <th>Milestone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.title %></td>
    <td><%= meeting.venue %></td>
    <td><%= meeting.stamp_id %></td>
    <td><%= meeting.number %></td>
    <td><%= meeting.activity_id %></td>
    <td><%= meeting.milestone_id %></td>
    <td><%= link_to 'Show', meeting %></td>
    <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
    <td><%= link_to 'Destroy', meeting, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meeting', new_meeting_path %>
