<p id="notice"><%= notice %></p>

<p>
  <b>Planned:</b>
  <%= @stamp.planned %>
</p>

<p>
  <b>Estimated:</b>
  <%= @stamp.estimated %>
</p>

<p>
  <b>Actual:</b>
  <%= @stamp.actual %>
</p>


<%= link_to 'Edit', edit_stamp_path(@stamp) %> |
<%= link_to 'Back', stamps_path %>
