<%= form_for(@key_person) do |f| %>
  <% if @key_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@key_person.errors.count, "error") %> prohibited this key_person from being saved:</h2>

      <ul>
      <% @key_person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_id %><br />
    <%= f.number_field :activity_id %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.number_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
