<h1>Table Overview</h1>

<ul>
<li> <%= link_to "Activities", activities_path =%>
<li> <%= link_to "Key People", key_people_path =%>
<li> <%= link_to "Deliverables", deliverables_path =%>
<li> <%= link_to "Meetings", meetings_path =%>
<li> <%= link_to "Milestones", milestones_path =%>
<li> <%= link_to "Payments", payments_path =%>
<li> <%= link_to "Contractors", contractors_path =%>
<li> <%= link_to "Comments", comments_path =%>
<li> <%= link_to "References", references_path =%>
<li> <%= link_to "Projects", projects_path =%>
<li> <%= link_to "Fundings", fundings_path =%>
<li> <%= link_to "People", people_path =%>
<li> <%= link_to "Components", components_path =%>
<li> <%= link_to "Categories", categories_path =%>
<li> <%= link_to "Technologies", technologies_path =%>
<li> <%= link_to "Entities", entities_path =%>
<li> <%= link_to "Stamps", stamps_path =%>
</ul>
