<h1>Listing contractors</h1>

<table>
  <tr>
    <th>Activity</th>
    <th>Entity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contractors.each do |contractor| %>
  <tr>
    <td><%= contractor.activity_id %></td>
    <td><%= contractor.entity_id %></td>
    <td><%= link_to 'Show', contractor %></td>
    <td><%= link_to 'Edit', edit_contractor_path(contractor) %></td>
    <td><%= link_to 'Destroy', contractor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contractor', new_contractor_path %>
