<p id="notice"><%= notice %></p>

<p>
  <b>Activity:</b>
  <%= @contractor.activity_id %>
</p>

<p>
  <b>Entity:</b>
  <%= @contractor.entity_id %>
</p>


<%= link_to 'Edit', edit_contractor_path(@contractor) %> |
<%= link_to 'Back', contractors_path %>
