<%= form_for(@funding) do |f| %>
  <% if @funding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funding.errors.count, "error") %> prohibited this funding from being saved:</h2>

      <ul>
      <% @funding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :abstract %><br />
    <%= f.text_field :abstract %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
