<h1>Listing fundings</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fundings.each do |funding| %>
  <tr>
    <td><%= funding.title %></td>
    <td><%= funding.abstract %></td>
    <td><%= link_to 'Show', funding %></td>
    <td><%= link_to 'Edit', edit_funding_path(funding) %></td>
    <td><%= link_to 'Destroy', funding, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Funding', new_funding_path %>
