<p id="notice"><%= notice %></p>

<p>
  <b>Categorytype:</b>
  <%= @category.categorytype %>
</p>

<p>
  <b>Abstract:</b>
  <%= @category.abstract %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
