<h1>Activities</h1>

  <nav id="actions" class="round">
    <ul>
      <li><%= link_to 'New Activity', new_activity_path %>
    </ul>
  </nav>

<table>
  <tr>
    <th>Nickname</th>
    <th>Contract</th>
    <th>Title</th>
    <th>Funding</th>
    <th>Funding amount</th>
    <th>Start / <br/>
        End</th>
  </tr>

<% unless @activities.empty? %>
  <% @activities.each do |activity| %>
    <tr>
      <td><%= link_to activity.nickname, activity %></td>
      <td><%= activity.contract %></td>
      <td><%= activity.title %></td>
      <td>
	<% if activity.funding %>
	<%= activity.funding.title  %>
	<% end %>
      </td>
      <td><%= activity.funding_amount %></td>
      <td>
	<% if activity.startdate %>
	<%= activity.startdate.planned %>
	<% end %>
      <br/>
	<% if activity.enddate %>
	<%= activity.enddate.planned %>
	<% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
</table>
<% render "layouts/section.end" %>


