<div id="notice"><%= notice %></div>

<div class="container">
  <nav id="context">
    <ul>
      <li><%= link_to 'Edit', edit_activity_path(@activity) %>
      <li><%= link_to 'Destroy', @activity, confirm: 'Are you sure?', method: :delete %>
      <li><%= link_to 'All Activities', activities_path %>
    </ul>
  </nav>
</div>

<div class="container" id="title">
  <ul>
    <li> <%= @activity.nickname %>
    <li> <%= @activity.title %>
  </ul>
</div>

  <div id="contract">
    <ul>
      <li> <%= showline("Contract", @activity.contract) =%>
      <li>   <%= showline("Amount",   @activity.funding_amount.to_s + " €") =%>
      <li>   <%= @activity.funding ? 
		 showline("Funding",  @activity.funding.title, "", @activity.funding) : NIL =%>
      <li>   <%= showline("Start", @activity.start) %>
      <li>   <%= showline("Duration", pluralize(@activity.duration, "month") ) %>
    </ul>
  </div>

<%= showline("Abstract", @activity.abstract) =%>bl

<%= @activity.project ? 
    showline("Project",   @activity.project.title, "", @activity.project)   : NIL  =%>
</p>

<hr>
  <div class="container">
    <nav id="context">
      <ul>      Edit:
	<li><%= link_to "Phases", "#" %>
	<li><%= link_to "Milestones",  "#" %>
	<li><%= link_to "Deliverables" , "#" %>
	<li><%= link_to "Payments",  "#" %>
      </ul>
    </nav>
  </div>

<% if @activity.Phases.any? %>
<p>
  <h3>Activity Structure</h3>
  
  <%= showlist("phases",    @activity.Phases) =%>
<p/>
<% end %>

<% if @activity.Components.any? %>
<hr><p>
  <%= showlist("components", @activity.Components) =%>
</p>
<% end %>

<% # Key_Person <> People %>
<% # Contractor <> Entity %>
<% # Comment (polymorph) %>
<% # Reference (polymorphic) %>



