<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @activity.title %>
</p>

<p>
  <b>Nickname:</b>
  <%= @activity.nickname %>
</p>

<p>
  <b>Abstract:</b>
  <%= @activity.abstract %>
</p>

<p>
  <b>Contract:</b>
  <%= @activity.contract %>
</p>

<p>
  <b>Funding:</b>
  <%= @activity.funding_id %>
</p>

<p>
  <b>Funding amount:</b>
  <%= @activity.funding_amount %>
</p>

<p>
  <b>Startdate:</b>
  <%= @activity.startdate_id %>
</p>

<p>
  <b>Enddate:</b>
  <%= @activity.enddate_id %>
</p>

<p>
  <b>Project:</b>
  <%= @activity.project_id %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Destroy', @activity, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Show All', activities_path %>
