<div id="notice"><%= notice %></div>

<nav class="round">
  <ul>
    <li><%= link_to 'Edit', edit_activity_path(@activity) %> |
    <li><%= link_to 'Destroy', @activity, confirm: 'Are you sure?', method: :delete %> |
    <li><%= link_to 'All Activities', activities_path %>
  </ul>
</nav>

<%= showline("Nickname", @activity.nickname, "h1") =%>
<%= showline("Title",    @activity.title, "h2") =%>

<p>
<%= showline("Contract", @activity.contract) =%>
<%= showline("Amount",   @activity.funding_amount.to_s + " €") =%>

<%= @activity.funding ? 
    showline("Funding",  @activity.funding.title, "", @activity.funding) : NIL =%>


<div id="ctrlbutton" class="expand">
  <%= render :partial => 'expand' %>
  <p>Bye Bye</p>
</div>
<div id="hiddendiv" style="display:none">
  <p>Hello</p>
</div>


<%= showline("Abstract", @activity.abstract) =%>


<%= @activity.startdate ? 
    showline("Start", @activity.startdate.planned) : NIL  =%>

<%= @activity.enddate ? 
    showline("End",   @activity.enddate.planned)   : NIL  =%>

<%= @activity.project ? 
    showline("Project",   @activity.project.title, "", @activity.project)   : NIL  =%>
</p>

<%= showlist("milestones",   @activity.Milestones) =%>
<%= showlist("deliverables", @activity.Deliverables) =%>
<%= showlist("meetings", @activity.Meetings) =%>
<%= showlist("components", @activity.Components) =%>

<% # Key_Person <> People %>
<% # Contractor <> Entity %>
<% # Comment (polymorph) %>
<% # Reference (polymorphic) %>



